hr {
    background-color:black;
    border-style: dotted ;
    height: 0px;
}
img {height: 150px;
    width: 150px;

}
h1{
color:#ffa8B6;

}
h2{
color:#ffa8B6;   }
h3{
color:#ffa8B6;
        
}
h4{
color:#ffa8B6;
            
}
